examples/statistics/Basic example.json
[
    {
        "id": "acc3454072c27074",
        "type": "tab",
        "label": "Basic example",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0f5eb33110dc9be8",
        "type": "debug",
        "z": "acc3454072c27074",
        "name": "calculated value",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 180,
        "wires": []
    },
    {
        "id": "a31cd8f8b98bafa5",
        "type": "inject",
        "z": "acc3454072c27074",
        "name": "0 or 1 every 3 seconds",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "additionalData",
                "v": "foobar",
                "vt": "str"
            }
        ],
        "repeat": "3",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "topic A",
        "payload": "$floor($random()*2)",
        "payloadType": "jsonata",
        "x": 350,
        "y": 180,
        "wires": [
            [
                "9171c28e0731ccf4"
            ]
        ]
    },
    {
        "id": "1206287f8e4807d5",
        "type": "debug",
        "z": "acc3454072c27074",
        "name": "object",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 220,
        "wires": []
    },
    {
        "id": "e62b44a6f6bad697",
        "type": "inject",
        "z": "acc3454072c27074",
        "name": "between 1 and 100",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "topic B",
        "payload": "1+$floor($random()*100)",
        "payloadType": "jsonata",
        "x": 330,
        "y": 220,
        "wires": [
            [
                "9171c28e0731ccf4"
            ]
        ]
    },
    {
        "id": "9171c28e0731ccf4",
        "type": "binsoul-statistics",
        "z": "acc3454072c27074",
        "outputMethod": "mean",
        "slotCount": "60",
        "slotResolutionNumber": 1,
        "slotResolutionUnit": "seconds",
        "slotMethod": "mean",
        "interpolation": "stepAfter",
        "precision": "infinite",
        "output1Frequency": "changes",
        "output2Frequency": "always",
        "inputValueProperty": "payload",
        "inputValueSource": "msg",
        "inputTimestampProperty": "",
        "inputTimestampSource": "date",
        "output1ValueProperty": "payload",
        "output1ValueTarget": "msg",
        "output2ValueProperty": "payload",
        "output2ValueTarget": "msg",
        "updateMode": "never",
        "updateFrequency": "1",
        "name": "",
        "outputs": 2,
        "x": 650,
        "y": 200,
        "wires": [
            [
                "0f5eb33110dc9be8"
            ],
            [
                "1206287f8e4807d5"
            ]
        ]
    }
]
