examples/statistics/Interpolation modes.json
[
    {
        "id": "a7cfc3853b5fb41e",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "69ba0c55827949bc",
        "type": "binsoul-statistics",
        "z": "a7cfc3853b5fb41e",
        "outputMethod": "median",
        "slotCount": "61",
        "slotResolutionNumber": 1,
        "slotResolutionUnit": "seconds",
        "slotMethod": "mean",
        "interpolation": "none",
        "precision": "infinite",
        "output1Frequency": "changes",
        "output2Frequency": "never",
        "inputValueProperty": "payload",
        "inputValueSource": "msg",
        "inputTimestampProperty": "",
        "inputTimestampSource": "date",
        "output1ValueProperty": "payload",
        "output1ValueTarget": "msg",
        "output2ValueProperty": "payload",
        "output2ValueTarget": "msg",
        "updateMode": "events",
        "updateFrequency": "5",
        "name": "No interpolation",
        "outputs": 1,
        "x": 680,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "8974b8f0c020ae7b",
        "type": "inject",
        "z": "a7cfc3853b5fb41e",
        "name": "inject value between 100 and 1000",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "topic",
        "payload": "100+$floor($random()*10) *100",
        "payloadType": "jsonata",
        "x": 380,
        "y": 240,
        "wires": [
            [
                "69ba0c55827949bc",
                "699d7aa51d076e48",
                "e5e9bbb2d485d5a9",
                "3fc8b3e156395cb7",
                "71c18123e01e328f",
                "c5d6d9a1de39f875",
                "832b31c88f37e398",
                "b80ad7755b810e5f",
                "b646b33916050560",
                "b293f85721d87f5a",
                "bdb10e9a50262675",
                "49d20df743e138d2"
            ]
        ]
    },
    {
        "id": "699d7aa51d076e48",
        "type": "binsoul-statistics",
        "z": "a7cfc3853b5fb41e",
        "outputMethod": "median",
        "slotCount": "61",
        "slotResolutionNumber": 1,
        "slotResolutionUnit": "seconds",
        "slotMethod": "mean",
        "interpolation": "stepBefore",
        "precision": "infinite",
        "output1Frequency": "changes",
        "output2Frequency": "never",
        "inputValueProperty": "payload",
        "inputValueSource": "msg",
        "inputTimestampProperty": "",
        "inputTimestampSource": "date",
        "output1ValueProperty": "payload",
        "output1ValueTarget": "msg",
        "output2ValueProperty": "payload",
        "output2ValueTarget": "msg",
        "updateMode": "events",
        "updateFrequency": "5",
        "name": "Step before",
        "outputs": 1,
        "x": 670,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "e5e9bbb2d485d5a9",
        "type": "binsoul-statistics",
        "z": "a7cfc3853b5fb41e",
        "outputMethod": "median",
        "slotCount": "61",
        "slotResolutionNumber": 1,
        "slotResolutionUnit": "seconds",
        "slotMethod": "mean",
        "interpolation": "linear",
        "precision": "infinite",
        "output1Frequency": "changes",
        "output2Frequency": "never",
        "inputValueProperty": "payload",
        "inputValueSource": "msg",
        "inputTimestampProperty": "",
        "inputTimestampSource": "date",
        "output1ValueProperty": "payload",
        "output1ValueTarget": "msg",
        "output2ValueProperty": "payload",
        "output2ValueTarget": "msg",
        "updateMode": "events",
        "updateFrequency": "5",
        "name": "Linear",
        "outputs": 1,
        "x": 650,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "3fc8b3e156395cb7",
        "type": "binsoul-statistics",
        "z": "a7cfc3853b5fb41e",
        "outputMethod": "median",
        "slotCount": "61",
        "slotResolutionNumber": 1,
        "slotResolutionUnit": "seconds",
        "slotMethod": "mean",
        "interpolation": "cosine",
        "precision": "infinite",
        "output1Frequency": "changes",
        "output2Frequency": "never",
        "inputValueProperty": "payload",
        "inputValueSource": "msg",
        "inputTimestampProperty": "",
        "inputTimestampSource": "date",
        "output1ValueProperty": "payload",
        "output1ValueTarget": "msg",
        "output2ValueProperty": "payload",
        "output2ValueTarget": "msg",
        "updateMode": "events",
        "updateFrequency": "5",
        "name": "Cosine",
        "outputs": 1,
        "x": 660,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "71c18123e01e328f",
        "type": "binsoul-statistics",
        "z": "a7cfc3853b5fb41e",
        "outputMethod": "median",
        "slotCount": "61",
        "slotResolutionNumber": 1,
        "slotResolutionUnit": "seconds",
        "slotMethod": "mean",
        "interpolation": "cubic",
        "precision": "infinite",
        "output1Frequency": "changes",
        "output2Frequency": "never",
        "inputValueProperty": "payload",
        "inputValueSource": "msg",
        "inputTimestampProperty": "",
        "inputTimestampSource": "date",
        "output1ValueProperty": "payload",
        "output1ValueTarget": "msg",
        "output2ValueProperty": "payload",
        "output2ValueTarget": "msg",
        "updateMode": "events",
        "updateFrequency": "5",
        "name": "Cubic",
        "outputs": 1,
        "x": 650,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "c5d6d9a1de39f875",
        "type": "binsoul-statistics",
        "z": "a7cfc3853b5fb41e",
        "outputMethod": "median",
        "slotCount": "61",
        "slotResolutionNumber": 1,
        "slotResolutionUnit": "seconds",
        "slotMethod": "mean",
        "interpolation": "catmullRom",
        "precision": "infinite",
        "output1Frequency": "changes",
        "output2Frequency": "never",
        "inputValueProperty": "payload",
        "inputValueSource": "msg",
        "inputTimestampProperty": "",
        "inputTimestampSource": "date",
        "output1ValueProperty": "payload",
        "output1ValueTarget": "msg",
        "output2ValueProperty": "payload",
        "output2ValueTarget": "msg",
        "updateMode": "events",
        "updateFrequency": "5",
        "name": "Catmull-Rom",
        "outputs": 1,
        "x": 670,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "832b31c88f37e398",
        "type": "binsoul-statistics",
        "z": "a7cfc3853b5fb41e",
        "outputMethod": "median",
        "slotCount": "61",
        "slotResolutionNumber": 1,
        "slotResolutionUnit": "seconds",
        "slotMethod": "mean",
        "interpolation": "hermiteLowTension",
        "precision": "infinite",
        "output1Frequency": "changes",
        "output2Frequency": "never",
        "inputValueProperty": "payload",
        "inputValueSource": "msg",
        "inputTimestampProperty": "",
        "inputTimestampSource": "date",
        "output1ValueProperty": "payload",
        "output1ValueTarget": "msg",
        "output2ValueProperty": "payload",
        "output2ValueTarget": "msg",
        "updateMode": "events",
        "updateFrequency": "5",
        "name": "Hermite (low tension)",
        "outputs": 1,
        "x": 700,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "b80ad7755b810e5f",
        "type": "binsoul-statistics",
        "z": "a7cfc3853b5fb41e",
        "outputMethod": "mean",
        "slotCount": "61",
        "slotResolutionNumber": 1,
        "slotResolutionUnit": "seconds",
        "slotMethod": "median",
        "interpolation": "hermiteNormalTension",
        "precision": "infinite",
        "output1Frequency": "changes",
        "output2Frequency": "never",
        "inputValueProperty": "payload",
        "inputValueSource": "msg",
        "inputTimestampProperty": "",
        "inputTimestampSource": "date",
        "output1ValueProperty": "payload",
        "output1ValueTarget": "msg",
        "output2ValueProperty": "payload",
        "output2ValueTarget": "msg",
        "updateMode": "events",
        "updateFrequency": "5",
        "name": "Hermite (normal tension)",
        "outputs": 1,
        "x": 710,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "b646b33916050560",
        "type": "binsoul-statistics",
        "z": "a7cfc3853b5fb41e",
        "outputMethod": "median",
        "slotCount": "61",
        "slotResolutionNumber": 1,
        "slotResolutionUnit": "seconds",
        "slotMethod": "mean",
        "interpolation": "hermiteHighTension",
        "precision": "infinite",
        "output1Frequency": "changes",
        "output2Frequency": "never",
        "inputValueProperty": "payload",
        "inputValueSource": "msg",
        "inputTimestampProperty": "",
        "inputTimestampSource": "date",
        "output1ValueProperty": "payload",
        "output1ValueTarget": "msg",
        "output2ValueProperty": "payload",
        "output2ValueTarget": "msg",
        "updateMode": "events",
        "updateFrequency": "5",
        "name": "Hermite (high tension)",
        "outputs": 1,
        "x": 700,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "b293f85721d87f5a",
        "type": "debug",
        "z": "a7cfc3853b5fb41e",
        "name": "injected value",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 320,
        "wires": []
    },
    {
        "id": "7194738e63c8f9f4",
        "type": "inject",
        "z": "a7cfc3853b5fb41e",
        "name": "send clearAll command",
        "props": [
            {
                "p": "command",
                "v": "clearAll",
                "vt": "str"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "reset all topics",
        "x": 340,
        "y": 840,
        "wires": [
            [
                "69ba0c55827949bc",
                "699d7aa51d076e48",
                "e5e9bbb2d485d5a9",
                "3fc8b3e156395cb7",
                "71c18123e01e328f",
                "c5d6d9a1de39f875",
                "832b31c88f37e398",
                "b646b33916050560",
                "b80ad7755b810e5f",
                "bdb10e9a50262675",
                "49d20df743e138d2"
            ]
        ]
    },
    {
        "id": "bdb10e9a50262675",
        "type": "binsoul-statistics",
        "z": "a7cfc3853b5fb41e",
        "outputMethod": "median",
        "slotCount": "61",
        "slotResolutionNumber": 1,
        "slotResolutionUnit": "seconds",
        "slotMethod": "mean",
        "interpolation": "stepMiddle",
        "precision": "infinite",
        "output1Frequency": "changes",
        "output2Frequency": "never",
        "inputValueProperty": "payload",
        "inputValueSource": "msg",
        "inputTimestampProperty": "",
        "inputTimestampSource": "date",
        "output1ValueProperty": "payload",
        "output1ValueTarget": "msg",
        "output2ValueProperty": "payload",
        "output2ValueTarget": "msg",
        "updateMode": "events",
        "updateFrequency": "5",
        "name": "Step middle",
        "outputs": 1,
        "x": 670,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "49d20df743e138d2",
        "type": "binsoul-statistics",
        "z": "a7cfc3853b5fb41e",
        "outputMethod": "median",
        "slotCount": "61",
        "slotResolutionNumber": 1,
        "slotResolutionUnit": "seconds",
        "slotMethod": "mean",
        "interpolation": "stepAfter",
        "precision": "infinite",
        "output1Frequency": "changes",
        "output2Frequency": "never",
        "inputValueProperty": "payload",
        "inputValueSource": "msg",
        "inputTimestampProperty": "",
        "inputTimestampSource": "date",
        "output1ValueProperty": "payload",
        "output1ValueTarget": "msg",
        "output2ValueProperty": "payload",
        "output2ValueTarget": "msg",
        "updateMode": "events",
        "updateFrequency": "5",
        "name": "Step after",
        "outputs": 1,
        "x": 660,
        "y": 420,
        "wires": [
            []
        ]
    }
]
